datasets/
processed-data/data/both_feet_data.txt
processed-data/data/both_fists_data.txt
processed-data/data/left_data.txt
processed-data/data/rest_data.txt
processed-data/data/right_data.txt
processed-data/labels/left_label.txt
processed-data/labels/rest_label.txt
processed-data/labels/right_label.txt
